# gözlem ve değişken seçimi loc & iloc

In [1]:
import numpy as np
import pandas as pd
n = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(n, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0     3     6     8
1     9    19    18
2    26     1    20
3    28    10    27
4    23    20    19
5     5    23     8
6     1    29    29
7     3    21    18
8    21    14     2
9    10     5    24

In [5]:
#loc: tanımlandığı şekli ile seçim yapmak için kullanılır

In [6]:
df.loc[0:3]

   var1  var2  var3
0     3     6     8
1     9    19    18
2    26     1    20
3    28    10    27

In [7]:
#iloc: alışık olduğumuz indexleme mantığı ile seçim yapar

In [8]:
df.iloc[0:3]

   var1  var2  var3
0     3     6     8
1     9    19    18
2    26     1    20

In [9]:
df.iloc[0,0]

3

In [11]:
df

   var1  var2  var3
0     3     6     8
1     9    19    18
2    26     1    20
3    28    10    27
4    23    20    19
5     5    23     8
6     1    29    29
7     3    21    18
8    21    14     2
9    10     5    24

In [10]:
df.iloc[:3,:2]

   var1  var2
0     3     6
1     9    19
2    26     1

In [12]:
df.loc[0:3,"var3"]

0     8
1    18
2    20
3    27
Name: var3, dtype: int32

In [13]:
df.iloc[0:3,"var3"] #hata verdi çünkü;
#iloc ile loc ayırt için, eğer değişken yada gözem birimleri satırlar ile mutlak değer işaretlemesi yapacaksak
#bud durumda loc kullanılır.

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [14]:
df.iloc[0:3]

   var1  var2  var3
0     3     6     8
1     9    19    18
2    26     1    20

In [15]:
df.iloc[0:3]["var3"]

0     8
1    18
2    20
Name: var3, dtype: int32