# pandas dataframe olu≈üturma

In [1]:
import pandas as pd

In [2]:
l = [1,2,39,67,90]
l

[1, 2, 39, 67, 90]

In [3]:
pd.DataFrame(l,columns= ["degisken_ismi"])

   degisken_ismi
0              1
1              2
2             39
3             67
4             90

In [7]:
import numpy as np
n = np.arange(1,10).reshape((3,3))
n

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [9]:
pd.DataFrame(n,columns= ["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [10]:
#df isimlendirme

In [13]:
df = pd.DataFrame(n,columns= ["var1","var2","var3"])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [16]:
df.columns = ("deg1","deg2","deg3")
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [19]:
df.shape

(3, 3)

In [20]:
df.ndim

2

In [21]:
df.size

9

In [23]:
type(df.values)

numpy.ndarray

In [24]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [28]:
df.tail(1)

   deg1  deg2  deg3
2     7     8     9

In [29]:
a = np.array([1,2,3,4,5])

In [30]:
pd.DataFrame(a, columns =["deg1"])

   deg1
0     1
1     2
2     3
3     4
4     5

Object `aggregate` not found.