# pandas serisi oluşturmak

In [1]:
import pandas as pd

In [13]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
seri = pd.Series([1,2,3,4,5])

In [15]:
type(seri)

pandas.core.series.Series

In [16]:
seri.axes #serinin index bil. erişiliyor

[RangeIndex(start=0, stop=5, step=1)]

In [17]:
seri.dtype #değerler ile ilg. bilgi

dtype('int64')

In [18]:
seri.size #içerisindeki eleman sayısı

5

In [19]:
seri.ndim #boyutu değerlendiryor

1

In [20]:
seri.values

array([1, 2, 3, 4, 5], dtype=int64)

In [21]:
seri.head(3)

0    1
1    2
2    3
dtype: int64

In [22]:
seri.tail(3) #serinin elemanlarına sondan bakma

2    3
3    4
4    5
dtype: int64

In [23]:
#index isimlendirmesi

In [25]:
pd.Series([99,22,332,94,5], index= [1,3,5,7,9])

1     99
3     22
5    332
7     94
9      5
dtype: int64

In [26]:
pd.Series([99,22,332,94,5], index= ["a","b","c","d","f"])

a     99
b     22
c    332
d     94
f      5
dtype: int64

In [28]:
seri = pd.Series([99,22,332,94,5], index= ["a","b","c","d","f"])

In [30]:
seri["a"]

99

In [31]:
seri["a":"c"]

a     99
b     22
c    332
dtype: int64

In [32]:
#sozluk üzerinden liste oluşturmak

In [33]:
sozluk = pd.Series({"reg":10,"log":11,"cart":12})

In [34]:
seri=pd.Series(sozluk)

In [35]:
seri

reg     10
log     11
cart    12
dtype: int64

In [36]:
#iki seriyi birleştirerek seri oluşturma

In [37]:
pd.concat([seri,seri])

reg     10
log     11
cart    12
reg     10
log     11
cart    12
dtype: int64

In [38]:
#tek elemandan oluşturğundan dolayı alt alta ekliyor tek boyutlu array olduğu için

       0
reg   10
log   11
cart  12